.featureSection{
    display: grid;
    grid-template-rows: 1;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
}
.fetureItem{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: #444;
    padding: 20px;
    background: #ffff;
    box-shadow: -2px 2px 8px 1px rgba(84, 79, 79, 0.205);
    border-radius: 5px;

}
.fetureInfo{
    text-align: center;
}
.fetureInfo span{
    font-size: 25px;
    font-weight: 600;
    color: rgb(15, 14, 14);
    display: block;

} 
.fetureInfo h6{
    font-size: 14px;
    font-weight: 500;
    color: rgb(15, 14, 14);
    text-transform: capitalize;
    
}
.icon{
    font-size: 40px;
    color: rgb(15, 14, 14);
}