.homeSection{
    padding: 20px;
}
.chart{
    width: 100%;
    height: 400px;
    display: flex;
    gap: 20px;
    margin-top: 20px;
}
.listSection{
    width: 100%;
    display: flex;
    margin: 20px 0px;
    gap: 20px;
}
