@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h6, h6, ul, li{
    padding: 0px;
    margin: 0px;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}